In [1]:
#Installing libraries
!pip install streamlit
!pip install mysql.connector
!pip install plotly
!pip install os
!pip install gitpython

Requirement already satisfied: streamlit in /home/dineshtm/anaconda3/lib/python3.11/site-packages (1.28.0)
Requirement already satisfied: altair<6,>=4.0 in /home/dineshtm/anaconda3/lib/python3.11/site-packages (from streamlit) (5.1.2)
Requirement already satisfied: blinker<2,>=1.0.0 in /home/dineshtm/anaconda3/lib/python3.11/site-packages (from streamlit) (1.6.3)
Requirement already satisfied: cachetools<6,>=4.0 in /home/dineshtm/anaconda3/lib/python3.11/site-packages (from streamlit) (5.3.2)
Requirement already satisfied: click<9,>=7.0 in /home/dineshtm/anaconda3/lib/python3.11/site-packages (from streamlit) (8.0.4)
Requirement already satisfied: importlib-metadata<7,>=1.4 in /home/dineshtm/anaconda3/lib/python3.11/site-packages (from streamlit) (6.0.0)
Requirement already satisfied: numpy<2,>=1.19.3 in /home/dineshtm/anaconda3/lib/python3.11/site-packages (from streamlit) (1.24.3)
Requirement already satisfied: packaging<24,>=16.8 in /home/dineshtm/anaconda3/lib/python3.11/site-packages (from streamlit) (23.0)
Requirement already satisfied: pandas<3,>=1.3.0 in /home/dineshtm/anaconda3/lib/python3.11/site-packages (from streamlit) (1.5.3)
Requirement already satisfied: pillow<11,>=7.1.0 in /home/dineshtm/anaconda3/lib/python3.11/site-packages (from streamlit) (9.4.0)
Requirement already satisfied: protobuf<5,>=3.20 in /home/dineshtm/anaconda3/lib/python3.11/site-packages (from streamlit) (4.24.4)
Requirement already satisfied: pyarrow>=6.0 in /home/dineshtm/anaconda3/lib/python3.11/site-packages (from streamlit) (11.0.0)
Requirement already satisfied: python-dateutil<3,>=2.7.3 in /home/dineshtm/anaconda3/lib/python3.11/site-packages (from streamlit) (2.8.2)
Requirement already satisfied: requests<3,>=2.27 in /home/dineshtm/anaconda3/lib/python3.11/site-packages (from streamlit) (2.31.0)
Requirement already satisfied: rich<14,>=10.14.0 in /home/dineshtm/anaconda3/lib/python3.11/site-packages (from streamlit) (13.6.0)
Requirement already satisfied: tenacity<9,>=8.1.0 in /home/dineshtm/anaconda3/lib/python3.11/site-packages (from streamlit) (8.2.2)
Requirement already satisfied: toml<2,>=0.10.1 in /home/dineshtm/anaconda3/lib/python3.11/site-packages (from streamlit) (0.10.2)
Requirement already satisfied: typing-extensions<5,>=4.3.0 in /home/dineshtm/anaconda3/lib/python3.11/site-packages (from streamlit) (4.7.1)
Requirement already satisfied: tzlocal<6,>=1.1 in /home/dineshtm/anaconda3/lib/python3.11/site-packages (from streamlit) (5.2)
Requirement already satisfied: validators<1,>=0.2 in /home/dineshtm/anaconda3/lib/python3.11/site-packages (from streamlit) (0.22.0)
Requirement already satisfied: gitpython!=3.1.19,<4,>=3.0.7 in /home/dineshtm/anaconda3/lib/python3.11/site-packages (from streamlit) (3.1.40)
Requirement already satisfied: pydeck<1,>=0.8.0b4 in /home/dineshtm/anaconda3/lib/python3.11/site-packages (from streamlit) (0.8.1b0)
Requirement already satisfied: tornado<7,>=6.0.3 in /home/dineshtm/anaconda3/lib/python3.11/site-packages (from streamlit) (6.3.2)
Requirement already satisfied: watchdog>=2.1.5 in /home/dineshtm/anaconda3/lib/python3.11/site-packages (from streamlit) (2.1.6)
Requirement already satisfied: jinja2 in /home/dineshtm/anaconda3/lib/python3.11/site-packages (from altair<6,>=4.0->streamlit) (3.1.2)
Requirement already satisfied: jsonschema>=3.0 in /home/dineshtm/anaconda3/lib/python3.11/site-packages (from altair<6,>=4.0->streamlit) (4.17.3)
Requirement already satisfied: toolz in /home/dineshtm/anaconda3/lib/python3.11/site-packages (from altair<6,>=4.0->streamlit) (0.12.0)
Requirement already satisfied: gitdb<5,>=4.0.1 in /home/dineshtm/anaconda3/lib/python3.11/site-packages (from gitpython!=3.1.19,<4,>=3.0.7->streamlit) (4.0.11)
Requirement already satisfied: zipp>=0.5 in /home/dineshtm/anaconda3/lib/python3.11/site-packages (from importlib-metadata<7,>=1.4->streamlit) (3.11.0)
Requirement already satisfied: pytz>=2020.1 in /home/dineshtm/anaconda3/lib/python3.11/site-packages (from pandas<3,>=1.3.0->streamlit) (2022.7)
Requirement already satisfied: six>=1.5 in /home/dineshtm/anaconda3/lib/python3.11/site-packages (from python-dateutil<3,>=2.7.3->streamlit) (1.16.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /home/dineshtm/anaconda3/lib/python3.11/site-packages (from requests<3,>=2.27->streamlit) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /home/dineshtm/anaconda3/lib/python3.11/site-packages (from requests<3,>=2.27->streamlit) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /home/dineshtm/anaconda3/lib/python3.11/site-packages (from requests<3,>=2.27->streamlit) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /home/dineshtm/anaconda3/lib/python3.11/site-packages (from requests<3,>=2.27->streamlit) (2023.7.22)
Requirement already satisfied: markdown-it-py>=2.2.0 in /home/dineshtm/anaconda3/lib/python3.11/site-packages (from rich<14,>=10.14.0->streamlit) (2.2.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in /home/dineshtm/anaconda3/lib/python3.11/site-packages (from rich<14,>=10.14.0->streamlit) (2.15.1)
Requirement already satisfied: smmap<6,>=3.0.1 in /home/dineshtm/anaconda3/lib/python3.11/site-packages (from gitdb<5,>=4.0.1->gitpython!=3.1.19,<4,>=3.0.7->streamlit) (5.0.1)
Requirement already satisfied: MarkupSafe>=2.0 in /home/dineshtm/anaconda3/lib/python3.11/site-packages (from jinja2->altair<6,>=4.0->streamlit) (2.1.1)
Requirement already satisfied: attrs>=17.4.0 in /home/dineshtm/anaconda3/lib/python3.11/site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (22.1.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /home/dineshtm/anaconda3/lib/python3.11/site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (0.18.0)
Requirement already satisfied: mdurl~=0.1 in /home/dineshtm/anaconda3/lib/python3.11/site-packages (from markdown-it-py>=2.2.0->rich<14,>=10.14.0->streamlit) (0.1.0)
Requirement already satisfied: mysql.connector in /home/dineshtm/anaconda3/lib/python3.11/site-packages (2.2.9)
Requirement already satisfied: plotly in /home/dineshtm/anaconda3/lib/python3.11/site-packages (5.9.0)
Requirement already satisfied: tenacity>=6.2.0 in /home/dineshtm/anaconda3/lib/python3.11/site-packages (from plotly) (8.2.2)
ERROR: Could not find a version that satisfies the requirement os (from versions: none)
ERROR: No matching distribution found for os
Requirement already satisfied: gitpython in /home/dineshtm/anaconda3/lib/python3.11/site-packages (3.1.40)
Requirement already satisfied: gitdb<5,>=4.0.1 in /home/dineshtm/anaconda3/lib/python3.11/site-packages (from gitpython) (4.0.11)
Requirement already satisfied: smmap<6,>=3.0.1 in /home/dineshtm/anaconda3/lib/python3.11/site-packages (from gitdb<5,>=4.0.1->gitpython) (5.0.1)

In [3]:
import pandas as pd
import mysql.connector as sql
import streamlit as st
import plotly.express as px
import os
import json
from PIL import Image

In [ ]:
# cloning data from github
#os.environ["GIT_PYTHON_REFRESH"] = "quiet"
#import git
#from git.repo.base import Repo
#Repo.clone_from("https://github.com/PhonePe/pulse.git", "/home/dineshtm/Desktop/learningspace/phonepe_visualization/data-original/")

In [ ]:
# DATA TRANSFORMATION

In [4]:
# Dataframe of aggregated Transactions
path1 = "/home/dineshtm/Desktop/learningspace/phonepe_visualization/data-original/aggregated/transaction/country/india/state/"
agg_trans_list = os.listdir(path1)

columns1 = {'State': [], 'Year': [], 'Quarter': [], 'Transaction_type': [], 'Transaction_count': [],
            'Transaction_amount': []}
for state in agg_trans_list:
    cur_state = path1 + state + "/"
    agg_year_list = os.listdir(cur_state)
    
    for year in agg_year_list:
        cur_year = cur_state + year + "/"
        agg_file_list = os.listdir(cur_year)
        
        for file in agg_file_list:
            cur_file = cur_year + file
            data = open(cur_file, 'r')
            A = json.load(data)
            
            for i in A['data']['transactionData']:
                name = i['name']
                count = i['paymentInstruments'][0]['count']
                amount = i['paymentInstruments'][0]['amount']
                columns1['Transaction_type'].append(name)
                columns1['Transaction_count'].append(count)
                columns1['Transaction_amount'].append(amount)
                columns1['State'].append(state)
                columns1['Year'].append(year)
                columns1['Quarter'].append(int(file.strip('.json')))
                
df_agg_trans = pd.DataFrame(columns1)

In [6]:
df_agg_trans.shape
df_agg_trans

,State,Year,Quarter,Transaction_type,Transaction_count,Transaction_amount
0,jharkhand,2022,4,Merchant payments,91863987,5.717365e+10
1,jharkhand,2022,4,Peer-to-peer payments,68045210,2.129537e+11
2,jharkhand,2022,4,Recharge & bill payments,15110623,7.625381e+09
3,jharkhand,2022,4,Financial Services,81074,8.927626e+07
4,jharkhand,2022,4,Others,199198,1.297765e+08
...,...,...,...,...,...,...
4129,bihar,2023,1,Merchant payments,251601655,1.750533e+11
4130,bihar,2023,1,Peer-to-peer payments,245677870,8.364280e+11
4131,bihar,2023,1,Recharge & bill payments,49781169,2.737224e+10
4132,bihar,2023,1,Financial Services,194601,1.581384e+08
4133,bihar,2023,1,Others,575900,2.652673e+08

In [7]:
# data frame of aggregated user
path2 = "/home/dineshtm/Desktop/learningspace/phonepe_visualization/data-original/aggregated/user/country/india/state/"

agg_user_list = os.listdir(path2)

columns2 = {'State': [], 'Year': [], 'Quarter': [], 'Brands': [], 'Count': [],
            'Percentage': []}
for state in agg_user_list:
    cur_state = path2 + state + "/"
    agg_year_list = os.listdir(cur_state)
    
    for year in agg_year_list:
        cur_year = cur_state + year + "/"
        agg_file_list = os.listdir(cur_year)

        for file in agg_file_list:
            cur_file = cur_year + file
            data = open(cur_file, 'r')
            B = json.load(data)
            try:
                for i in B["data"]["usersByDevice"]:
                    brand_name = i["brand"]
                    counts = i["count"]
                    percents = i["percentage"]
                    columns2["Brands"].append(brand_name)
                    columns2["Count"].append(counts)
                    columns2["Percentage"].append(percents)
                    columns2["State"].append(state)
                    columns2["Year"].append(year)
                    columns2["Quarter"].append(int(file.strip('.json')))
            except:
                pass
df_agg_user = pd.DataFrame(columns2)

In [8]:
df_agg_user
df_agg_user.shape

(6732, 6)

In [9]:
# Data frame of map transactions
path3 = "/home/dineshtm/Desktop/learningspace/phonepe_visualization/data-original/map/transaction/hover/country/india/state/"

map_trans_list = os.listdir(path3)

columns3 = {'State': [], 'Year': [], 'Quarter': [], 'District': [], 'Count': [],
            'Amount': []}

for state in map_trans_list:
    cur_state = path3 + state + "/"
    map_year_list = os.listdir(cur_state)
    
    for year in map_year_list:
        cur_year = cur_state + year + "/"
        map_file_list = os.listdir(cur_year)
        
        for file in map_file_list:
            cur_file = cur_year + file
            data = open(cur_file, 'r')
            C = json.load(data)
            
            for i in C["data"]["hoverDataList"]:
                district = i["name"]
                count = i["metric"][0]["count"]
                amount = i["metric"][0]["amount"]
                columns3["District"].append(district)
                columns3["Count"].append(count)
                columns3["Amount"].append(amount)
                columns3['State'].append(state)
                columns3['Year'].append(year)
                columns3['Quarter'].append(int(file.strip('.json')))
                
df_map_trans = pd.DataFrame(columns3)

In [13]:
df_map_trans

,State,Year,Quarter,District,Count,Amount
0,jharkhand,2022,4,ramgarh district,6829219,1.030359e+10
1,jharkhand,2022,4,ranchi district,41821467,6.381912e+10
2,jharkhand,2022,4,east singhbhum district,24875930,3.699661e+10
3,jharkhand,2022,4,jamtara district,788453,1.452980e+09
4,jharkhand,2022,4,dumka district,1803301,3.293616e+09
...,...,...,...,...,...,...
16827,bihar,2023,1,samastipur district,18568228,3.529560e+10
16828,bihar,2023,1,banka district,5555850,1.006629e+10
16829,bihar,2023,1,purbi champaran district,32313824,6.094461e+10
16830,bihar,2023,1,sheohar district,2578708,5.284271e+09
16831,bihar,2023,1,bhojpur district,10373795,2.223440e+10

In [14]:
# Data frame of map user
path4 = "/home/dineshtm/Desktop/learningspace/phonepe_visualization/data-original/map/user/hover/country/india/state/"

map_user_list = os.listdir(path4)

columns4 = {"State": [], "Year": [], "Quarter": [], "District": [],
            "RegisteredUser": [], "AppOpens": []}

for state in map_user_list:
    cur_state = path4 + state + "/"
    map_year_list = os.listdir(cur_state)
    
    for year in map_year_list:
        cur_year = cur_state + year + "/"
        map_file_list = os.listdir(cur_year)
        
        for file in map_file_list:
            cur_file = cur_year + file
            data = open(cur_file, 'r')
            D = json.load(data)
            
            for i in D["data"]["hoverData"].items():
                district = i[0]
                registereduser = i[1]["registeredUsers"]
                appOpens = i[1]['appOpens']
                columns4["District"].append(district)
                columns4["RegisteredUser"].append(registereduser)
                columns4["AppOpens"].append(appOpens)
                columns4['State'].append(state)
                columns4['Year'].append(year)
                columns4['Quarter'].append(int(file.strip('.json')))
                
df_map_user = pd.DataFrame(columns4)

In [20]:
df_map_user

,State,Year,Quarter,District,RegisteredUser,AppOpens
0,jharkhand,2022,4,ramgarh district,334310,16495695
1,jharkhand,2022,4,ranchi district,1301412,62592229
2,jharkhand,2022,4,east singhbhum district,847360,33606713
3,jharkhand,2022,4,jamtara district,151622,3728480
4,jharkhand,2022,4,dumka district,165890,6661179
...,...,...,...,...,...,...
16831,bihar,2023,1,samastipur district,832148,8955924
16832,bihar,2023,1,banka district,284021,21381203
16833,bihar,2023,1,purbi champaran district,1133269,15646743
16834,bihar,2023,1,sheohar district,97787,1837447
16835,bihar,2023,1,bhojpur district,556334,9258708

In [16]:
df_map_user

,State,Year,Quarter,District,RegisteredUser,AppOpens
0,jharkhand,2022,4,ramgarh district,334310,16495695
1,jharkhand,2022,4,ranchi district,1301412,62592229
2,jharkhand,2022,4,east singhbhum district,847360,33606713
3,jharkhand,2022,4,jamtara district,151622,3728480
4,jharkhand,2022,4,dumka district,165890,6661179
...,...,...,...,...,...,...
16831,bihar,2023,1,samastipur district,832148,8955924
16832,bihar,2023,1,banka district,284021,21381203
16833,bihar,2023,1,purbi champaran district,1133269,15646743
16834,bihar,2023,1,sheohar district,97787,1837447
16835,bihar,2023,1,bhojpur district,556334,9258708

In [17]:
# Data frame of top transactions
path5 = "/home/dineshtm/Desktop/learningspace/phonepe_visualization/data-original/top/transaction/country/india/state/"

top_trans_list = os.listdir(path5)
columns5 = {'State': [], 'Year': [], 'Quarter': [], 'Pincode': [], 'Transaction_count': [],
            'Transaction_amount': []}

for state in top_trans_list:
    cur_state = path5 + state + "/"
    top_year_list = os.listdir(cur_state)
    
    for year in top_year_list:
        cur_year = cur_state + year + "/"
        top_file_list = os.listdir(cur_year)
        
        for file in top_file_list:
            cur_file = cur_year + file
            data = open(cur_file, 'r')
            E = json.load(data)
            
            for i in E['data']['pincodes']:
                name = i['entityName']
                count = i['metric']['count']
                amount = i['metric']['amount']
                columns5['Pincode'].append(name)
                columns5['Transaction_count'].append(count)
                columns5['Transaction_amount'].append(amount)
                columns5['State'].append(state)
                columns5['Year'].append(year)
                columns5['Quarter'].append(int(file.strip('.json')))
df_top_trans = pd.DataFrame(columns5)

In [21]:
df_top_trans

          State  Year  Quarter Pincode  Transaction_count  Transaction_amount
0     jharkhand  2022        4  834002           16787757        2.882154e+10
1     jharkhand  2022        4  831001           14677516        2.311718e+10
2     jharkhand  2022        4  834001            7794568        9.503906e+09
3     jharkhand  2022        4  826001            6696711        1.109180e+10
4     jharkhand  2022        4  827003            2942273        4.553917e+09
...         ...   ...      ...     ...                ...                 ...
8205      bihar  2023        1  823001            4279539        7.848446e+09
8206      bihar  2023        1  846004            3659869        6.116917e+09
8207      bihar  2023        1  842001            3400238        7.283851e+09
8208      bihar  2023        1  854301            3377283        5.244948e+09
8209      bihar  2023        1  843302            3320379        6.193588e+09

[8210 rows x 6 columns]

In [22]:
# Data frame of top users
path6 = "/home/dineshtm/Desktop/learningspace/phonepe_visualization/data-original/top/user/country/india/state/"
top_user_list = os.listdir(path6)
columns6 = {'State': [], 'Year': [], 'Quarter': [], 'Pincode': [],
            'RegisteredUsers': []}

for state in top_user_list:
    cur_state = path6 + state + "/"
    top_year_list = os.listdir(cur_state)
    
    for year in top_year_list:
        cur_year = cur_state + year + "/"
        top_file_list = os.listdir(cur_year)
        
        for file in top_file_list:
            cur_file = cur_year + file
            data = open(cur_file, 'r')
            F = json.load(data)
            
            for i in F['data']['pincodes']:
                name = i['name']
                registeredUsers = i['registeredUsers']
                columns6['Pincode'].append(name)
                columns6['RegisteredUsers'].append(registeredUsers)
                columns6['State'].append(state)
                columns6['Year'].append(year)
                columns6['Quarter'].append(int(file.strip('.json')))
df_top_user = pd.DataFrame(columns6)

In [23]:
df_top_user

          State  Year  Quarter Pincode  RegisteredUsers
0     jharkhand  2022        4  834001           345775
1     jharkhand  2022        4  826001           170390
2     jharkhand  2022        4  827013           141023
3     jharkhand  2022        4  815353           127685
4     jharkhand  2022        4  825303           112498
...         ...   ...      ...     ...              ...
8206      bihar  2023        1  823001           169449
8207      bihar  2023        1  842001           154271
8208      bihar  2023        1  846004           148858
8209      bihar  2023        1  802301           146579
8210      bihar  2023        1  801503           144944

[8211 rows x 5 columns]

In [24]:
# Coverting Data frames to csv files
df_agg_trans.to_csv('agg_trans.csv',index=False)
df_agg_user.to_csv('agg_user.csv',index=False)
df_map_trans.to_csv('map_trans.csv',index=False)
df_map_user.to_csv('map_user.csv',index=False)
df_top_trans.to_csv('top_trans.csv',index=False)
df_top_user.to_csv('top_user.csv',index=False)

In [25]:
!pip install pymysql

Requirement already satisfied: pymysql in /home/dineshtm/anaconda3/lib/python3.11/site-packages (1.1.0)

In [28]:
# Creating connection with MySQL
# Connecting with SQL
mydb = sql.connect(host="localhost",
                   user="root",
                   password="rPWDmini_db",
                   auth_plugin='mysql_native_password'
                  )
mycursor = mydb.cursor(buffered=True)

In [29]:
# Creating new database and tables
mycursor.execute("CREATE DATABASE IF NOT EXISTS `phonepe_pulse_visualization`;")

In [30]:
mycursor.execute("USE phonepe_pulse_visualization")

In [31]:
# Creating agg_trans table
mycursor.execute("create table agg_trans (State varchar(100), Year int, Quarter int, Transaction_type varchar(100), Transaction_count int, Transaction_amount double)")

for i,row in df_agg_trans.iterrows():
    #here %S means string values 
    sql = "INSERT INTO agg_trans VALUES (%s,%s,%s,%s,%s,%s)"
    mycursor.execute(sql, tuple(row))
    # the connection is not auto committed by default, so we must commit to save our changes
    mydb.commit()

In [32]:
# Creating agg_user table
mycursor.execute("create table agg_user (State varchar(100), Year int, Quarter int, Brands varchar(100), Count int, Percentage double)")

for i,row in df_agg_user.iterrows():
    sql = "INSERT INTO agg_user VALUES (%s,%s,%s,%s,%s,%s)"
    mycursor.execute(sql, tuple(row))
    mydb.commit()

In [33]:
# Creating map_trans table
mycursor.execute("create table map_trans (State varchar(100), Year int, Quarter int, District varchar(100), Count int, Amount double)")

for i,row in df_map_trans.iterrows():
    sql = "INSERT INTO map_trans VALUES (%s,%s,%s,%s,%s,%s)"
    mycursor.execute(sql, tuple(row))
    mydb.commit()

In [34]:
# Creating map_user table
mycursor.execute("create table map_user (State varchar(100), Year int, Quarter int, District varchar(100), Registered_user int, App_opens int)")

for i,row in df_map_user.iterrows():
    sql = "INSERT INTO map_user VALUES (%s,%s,%s,%s,%s,%s)"
    mycursor.execute(sql, tuple(row))
    mydb.commit()

In [35]:
# Creating top_trans table
mycursor.execute("create table top_trans (State varchar(100), Year int, Quarter int, Pincode int, Transaction_count int, Transaction_amount double)")

for i,row in df_top_trans.iterrows():
    sql = "INSERT INTO top_trans VALUES (%s,%s,%s,%s,%s,%s)"
    mycursor.execute(sql, tuple(row))
    mydb.commit()

In [36]:
# Creating top_user table
mycursor.execute("create table top_user (State varchar(100), Year int, Quarter int, Pincode int, Registered_users int)")

for i,row in df_top_user.iterrows():
    sql = "INSERT INTO top_user VALUES (%s,%s,%s,%s,%s)"
    mycursor.execute(sql, tuple(row))
    mydb.commit()

In [38]:
# List of tables
mycursor.execute("show tables")
mycursor.fetchall()

[(bytearray(b'agg_trans'),),
 (bytearray(b'agg_user'),),
 (bytearray(b'map_trans'),),
 (bytearray(b'map_user'),),
 (bytearray(b'top_trans'),),
 (bytearray(b'top_user'),)]